<app-navbar></app-navbar>
<div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1">
        <nav class="nav nav-tabs sidenavbar">
          <div *ngFor="let navss of navlinks">
            <ul style="list-style-type: none">
              <li class="sidenav"><p class="icon-round"><a href="#"><i class={{navss.icon}}></i></a></p></li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="col-md-11">
          <div class="container">
              <div class="row card-content">
                <div *ngFor="let dash of dashes">
                  <div class="col-md-3">
                    <div class="card">
                        <div class="icon">
                          <p class="round"><i class={{dash.icon}}></i></p>
                        </div>
                        <p class="title">{{ dash.title }}</p>
                        <p class="subtitle">{{ dash.caption }}</p>
                        <button type="button" class="btn btn-lg" >Order</button>
                    </div>
                  </div>
                </div>
                <div *ngFor="let dash1 of dash11">
                  <div class="col-md-6">
                      <div class="card">
                        <div class="icon">
                          <p class="round"><i class={{dash1.icon}}></i></p>
                        </div>
                        <p class="title">{{ dash1.title }}</p>
                        <p class="subtitle">{{ dash1.caption }}</p>
                        <button type="button" class="btn btn-lg" >Order</button>
                      </div>
                    </div>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
